body {
    background-color: #54626F;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    padding: 25px;
}

/* Outlined text courtesy of https://stackoverflow.com/questions/4919076/outline-effect-to-text */
.text-outlined {
    color: white;
    text-shadow: black 1px 1px 3px;
    -webkit-font-smoothing: antialiased
}

#phone-app {
    z-index: 0;
    display: inline-block;
    height: 800px;
    width: 395px ;
    background-image: url(resources/img/screen-border.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: bottom;
}

#phone-lock-screen {
    z-index: -1;
    position: absolute;
    transform: translateY(0);
    height: 800px;
    width: 395px ;
    background-image: url(resources/img/lock-screen.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#phone-home-screen {
    z-index: -2;
    position: absolute;
    height: 800px;
    width: 395px ;
    background-image: url(resources/img/home-screen.png);
    background-size: cover;
    background-repeat: no-repeat;
}


#lang-config {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding: 10px 10px 10px 10px;
    margin: 20px;
}

#lang-config input{
    margin: 10px 10px 10px 10px;
}

#canvas {
    display: inline-block;
    background: white; 
    border: 2px solid; 
    border-color: black; 
    cursor: crosshair;
    margin: 10px 20px;
}


.canvas-button {
    display: inline-block;
    height: 50px;
    width: 100px;
    transform: scale(1.0);
    background-image: url(resources/img/submit-button.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#submit-button {
    background-image: url(resources/img/submit-button.png);
}

#reset-button {
    background-image: url(resources/img/reset-button.png);
}

#erase-button {
    background-image: url(resources/img/erase-button.png);
}

#prompt {
    margin: 250px 10px 10px 10px;
    display: inline-block;
}


